:root {
  padding: 0;
  margin:0;
}

body, html {
  font: 25px sans-serif;
}

form {
  /* padding-top: 20px; */
  text-align: center;
}

h1, h2 {
  text-align: center;
  margin:0;
}
  
svg {
  display: block;
  margin: auto;
}

#tooltip {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  text-align: center;
  padding: 2px;
  font-size: 12px;
  box-shadow: 1px 1px 10px;
  border-radius: 2px;
  pointer-events: none;
}
  