body, html {
  margin: 0;
  padding:0;
}

body {
  text-align: center;
  background-color: #f0f8ff;
  width: 100%;
  font-size: 20px;
  font-family: 'Roboto', sans-serif;
}

#my_dataviz {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.node {
  font: 10px sans-serif;
  line-height: 12px;
  overflow: hidden;
  position: absolute;
}

#tooltip {
  position: relative;
  padding: 10px;
  font: 12px sans-serif;
  background: lightsteelblue;
  border-radius: 8px;
  pointer-events: none;
  width: 100px;
}